<?xml version="1.0"?>
<config>
    <modules>
        <SixBySix_RealTimeDespatch>
            <version>1.0.0.24</version>
        </SixBySix_RealTimeDespatch>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <realtimedespatch before="Mage_Adminhtml">SixBySix_RealTimeDespatch_Adminhtml</realtimedespatch>
                        <sixbysix_realtimedespatch before="Mage_Adminhtml">SixBySix_RealTimeDespatch_Adminhtml</sixbysix_realtimedespatch>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_grid_setup_export>
                <observers>
                    <product_grid_observer>
                        <type>singleton</type>
                        <class>realtimedespatch/observer_product_grid</class>
                        <method>addExportAction</method>
                    </product_grid_observer>
                </observers>
            </adminhtml_catalog_product_grid_setup_export>
            <adminhtml_sales_order_grid_prepare_massaction>
                <observers>
                    <order_grid_observer>
                        <type>singleton</type>
                        <class>realtimedespatch/observer_order_grid</class>
                        <method>addExportAction</method>
                    </order_grid_observer>
                </observers>
            </adminhtml_sales_order_grid_prepare_massaction>
            <adminhtml_sales_order_grid_prepare_columns>
               <observers>
                    <order_grid_observer>
                        <type>singleton</type>
                        <class>realtimedespatch/observer_order_grid</class>
                        <method>addExportColumn</method>
                    </order_grid_observer>
                </observers>
            </adminhtml_sales_order_grid_prepare_columns>
            <adminhtml_orderflow_import_lines_grid_prepare_columns>
                <observers>
                    <import_lines_grid_observer>
                        <type>singleton</type>
                        <class>realtimedespatch/observer_import_lines_grid</class>
                        <method>addOrderIdColumn</method>
                    </import_lines_grid_observer>
                </observers>
            </adminhtml_orderflow_import_lines_grid_prepare_columns>
            <adminhtml_orderflow_imports_grid_prepare_columns>
                <observers>
                    <imports_grid_observer>
                        <type>singleton</type>
                        <class>realtimedespatch/observer_import_grid</class>
                        <method>addOrderIdColumn</method>
                    </imports_grid_observer>
                </observers>
            </adminhtml_orderflow_imports_grid_prepare_columns>
            <eav_collection_abstract_load_before>
                <observers>
                    <product_grid_observer>
                        <type>singleton</type>
                        <class>realtimedespatch/observer_product_grid</class>
                        <method>addExportColumn</method>
                    </product_grid_observer>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
        <layout>
            <updates>
                <realtimedespatch>
                    <file>realtimedespatch.xml</file>
                </realtimedespatch>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <realtimedespatch>
                <class>SixBySix_RealTimeDespatch_Model</class>
                <resourceModel>realtimedespatch_resource</resourceModel>
            </realtimedespatch>
            <realtimedespatch_resource>
                <class>SixBySix_RealTimeDespatch_Model_Resource</class>
                <entities>
                    <export>
                        <table>realtimedespatch_exports</table>
                    </export>
                    <export_line>
                        <table>realtimedespatch_export_lines</table>
                    </export_line>
                    <import>
                        <table>realtimedespatch_imports</table>
                    </import>
                    <import_line>
                        <table>realtimedespatch_import_lines</table>
                    </import_line>
                    <request>
                        <table>realtimedespatch_requests</table>
                    </request>
                    <request_line>
                        <table>realtimedespatch_request_lines</table>
                    </request_line>
                    <process>
                        <table>realtimedespatch_processes</table>
                    </process>
                    <process_schedule>
                        <table>realtimedespatch_process_schedules</table>
                    </process_schedule>
                </entities>
            </realtimedespatch_resource>
            <catalog>
                <rewrite>
                    <product>SixBySix_RealTimeDespatch_Model_Catalog_Product</product>
                </rewrite>
            </catalog>
            <sales>
                <rewrite>
                    <order>SixBySix_RealTimeDespatch_Model_Sales_Order</order>
                    <order_item>SixBySix_RealTimeDespatch_Model_Sales_Order_Item</order_item>
                </rewrite>
            </sales>
            <eav>
                <rewrite>
                    <entity_attribute_backend_time_updated>SixBySix_RealTimeDespatch_Model_Entity_Attribute_Backend_Time_Updated</entity_attribute_backend_time_updated>
                </rewrite>
            </eav>
        </models>
        <helpers>
            <realtimedespatch>
                <class>SixBySix_RealTimeDespatch_Helper</class>
            </realtimedespatch>
        </helpers>
        <blocks>
            <realtimedespatch>
                <class>SixBySix_RealTimeDespatch_Block</class>
            </realtimedespatch>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>SixBySix_RealTimeDespatch_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                    <adminhtml_exports_view_view_plane>SixBySix_RealTimeDespatch_Block_Adminhtml_Exports_View_Plane</adminhtml_exports_view_view_plane>
                    <adminhtml_imports_view_view_plane>SixBySix_RealTimeDespatch_Block_Adminhtml_Imports_View_Plane</adminhtml_imports_view_view_plane>
                    <sales_order_grid>SixBySix_RealTimeDespatch_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <catalog_product_edit_tab_inventory>SixBySix_RealTimeDespatch_Block_Adminhtml_Catalog_Product_Edit_Tab_Inventory</catalog_product_edit_tab_inventory>
                    <catalog_product_edit_tab_attributes>SixBySix_RealTimeDespatch_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <realtimedespatch_setup>
                <setup>
                    <module>SixBySix_RealTimeDespatch</module>
                </setup>
            </realtimedespatch_setup>
        </resources>
        <events>
            <rtd_export_success>
                <observers>
                    <rtd_export_observer>
                        <type>singleton</type>
                        <class>realtimedespatch/observer_export</class>
                        <method>handleExportSuccess</method>
                    </rtd_export_observer>
                </observers>
            </rtd_export_success>
            <rtd_import_success>
                <observers>
                    <rtd_export_observer>
                        <type>singleton</type>
                        <class>realtimedespatch/observer_import</class>
                        <method>handleImportSuccess</method>
                    </rtd_export_observer>
                </observers>
            </rtd_import_success>
            <rtd_exception>
                <observers>
                    <rtd_exception_observer>
                        <type>singleton</type>
                        <class>realtimedespatch/observer_exception</class>
                        <method>handleException</method>
                    </rtd_exception_observer>
                </observers>
            </rtd_exception>
            <realtimedespatch_export_save_after>
                <observers>
                    <rtd_export_save_observer>
                        <type>singleton</type>
                        <class>realtimedespatch/observer_export</class>
                        <method>handleExportSave</method>
                    </rtd_export_save_observer>
                </observers>
            </realtimedespatch_export_save_after>
            <realtimedespatch_import_save_after>
                <observers>
                    <rtd_export_save_observer>
                        <type>singleton</type>
                        <class>realtimedespatch/observer_import</class>
                        <method>handleImportSave</method>
                    </rtd_export_save_observer>
                </observers>
            </realtimedespatch_import_save_after>
            <model_save_after>
                <observers>
                    <cron_schedule_observer>
                        <type>singleton</type>
                        <class>realtimedespatch/observer_cron_schedule</class>
                        <method>onCronScheduleSave</method>
                    </cron_schedule_observer>
                </observers>
            </model_save_after>
            <model_delete_commit_after>
                <observers>
                    <cron_schedule_observer>
                        <type>singleton</type>
                        <class>realtimedespatch/observer_cron_schedule</class>
                        <method>onCronScheduleDelete</method>
                    </cron_schedule_observer>
                </observers>
            </model_delete_commit_after>
        </events>
    </global>
    <default>
        <sixbysix_realtimedespatch>
            <general>
                <is_enabled>0</is_enabled>
            </general>
            <api_config>
                <endpoint></endpoint>
                <username></username>
                <organisation></organisation>
                <channel></channel>
            </api_config>
            <product_export>
                <is_enabled>0</is_enabled>
                <cron_expr></cron_expr>
                <batch_size>100</batch_size>
            </product_export>
            <order_export>
                <is_enabled>0</is_enabled>
                <cron_expr></cron_expr>
                <batch_size>100</batch_size>
            </order_export>
            <shipment_import>
                <is_enabled>0</is_enabled>
                <cron_expr></cron_expr>
                <batch_size>100</batch_size>
            </shipment_import>
            <inventory_import>
                <is_enabled>0</is_enabled>
                <cron_expr></cron_expr>
                <batch_size>100</batch_size>
            </inventory_import>
            <admin_info>
                <is_enabled>1</is_enabled>
            </admin_info>
        </sixbysix_realtimedespatch>
    </default>
    <crontab>
        <jobs>
            <product_export>
                <run>
                    <model>realtimedespatch/observer_cron::executeProductExport</model>
                </run>
            </product_export>
            <order_export>
                <run>
                    <model>realtimedespatch/observer_cron::executeOrderExport</model>
                </run>
            </order_export>
            <shipment_import>
                <run>
                    <model>realtimedespatch/observer_cron::executeShipmentImport</model>
                </run>
            </shipment_import>
            <inventory_import>
                <run>
                    <model>realtimedespatch/observer_cron::executeInventoryImport</model>
                </run>
            </inventory_import>
            <log_cleaning>
                <run>
                    <model>realtimedespatch/observer_cron::executeLogCleaning</model>
                </run>
            </log_cleaning>
        </jobs>
    </crontab>
    <rtd_mappings>
        <product>
            <export>
                <Sku>externalReference</Sku>
                <Name>description</Name>
                <TypeId>type</TypeId>
                <SmallImageUrl>imageReference</SmallImageUrl>
                <PhysicalStorageTypes>physicalStorageTypes</PhysicalStorageTypes>
                <CategoryName>category</CategoryName>
                <NetPrice>priceNet</NetPrice>
                <IsSalable>sellable</IsSalable>
                <TaxPrice>tax</TaxPrice>
                <TaxCode>taxCode</TaxCode>
                <Currency>currency</Currency>
                <GrossPrice>priceGross</GrossPrice>
                <Barcode>barcode</Barcode>
                <Weight>weight</Weight>
                <WeightUnits>weightUnits</WeightUnits>
                <Length>length</Length>
                <Width>width</Width>
                <Height>height</Height>
                <Area>area</Area>
                <Volume>volume</Volume>
            </export>
        </product>
        <order>
            <IncrementId>externalReference</IncrementId>
            <OrderCurrencyCode>currency</OrderCurrencyCode>
            <OrderCurrencyUnits>currencyUnits</OrderCurrencyUnits>
            <CustomerNote>customerComment</CustomerNote>
            <CouponCode>promotionCode</CouponCode>
            <DiscountDescription>promotionDescription</DiscountDescription>
            <Subtotal>goodsPriceNet</Subtotal>
            <SubtotalInclTax>goodsPriceGross</SubtotalInclTax>
            <GoodsTaxAmount>goodsTax</GoodsTaxAmount>
            <GoodsTaxCode>goodsTaxCode</GoodsTaxCode>
            <ShippingAmount>shippingPriceNet</ShippingAmount>
            <ShippingInclTax>shippingPriceGross</ShippingInclTax>
            <ShippingTaxAmount>shippingTax</ShippingTaxAmount>
            <ShippingTaxCode>shippingTaxCode</ShippingTaxCode>
            <PaymentMethodTitle>paymentGatewayIdentifier</PaymentMethodTitle>
            <NetTotal>totalPriceNet</NetTotal>
            <GrandTotal>totalPriceGross</GrandTotal>
            <TaxAmount>totalTax</TaxAmount>
            <TotalTaxCode>taxCode</TotalTaxCode>
        </order>
        <order_shipment>
            <CustomerNote>deliveryInstruction</CustomerNote>
            <ShippingMethod>deliverySuggestionCode</ShippingMethod>
            <ShippingDescription>deliverySuggestionName</ShippingDescription>
        </order_shipment>
        <delivery_address>
            <Street1>addressLine1</Street1>
            <Street2>addressLine2</Street2>
            <Street3>addressLine3</Street3>
            <Street4>addressLine4</Street4>
            <City>addressLine5</City>
            <Region>addressLine6</Region>
            <Postcode>postCode</Postcode>
            <Company>companyName</Company>
            <Name>contactName</Name>
            <CountryId>countryCode</CountryId>
            <Telephone>dayPhoneNumber</Telephone>
            <Email>emailAddress</Email>
            <EveningTelephone>eveningPhoneNumber</EveningTelephone>
            <Fax>fax</Fax>
            <MobileTelephone>mobilePhoneNumber</MobileTelephone>
        </delivery_address>
        <billing_address>
            <Street1>addressLine1</Street1>
            <Street2>addressLine2</Street2>
            <Street3>addressLine3</Street3>
            <Street4>addressLine4</Street4>
            <City>addressLine5</City>
            <Region>addressLine6</Region>
            <Postcode>postCode</Postcode>
            <Company>companyName</Company>
            <Name>contactName</Name>
            <CountryId>countryCode</CountryId>
            <Telephone>dayPhoneNumber</Telephone>
            <Email>emailAddress</Email>
            <EveningTelephone>eveningPhoneNumber</EveningTelephone>
            <Fax>fax</Fax>
            <MobileTelephone>mobilePhoneNumber</MobileTelephone>
        </billing_address>
        <order_item>
            <Name>description</Name>
            <QtyOrdered>quantity</QtyOrdered>
            <RowTotal>totalPriceNet</RowTotal>
            <TaxAmount>totalTax</TaxAmount>
            <RowTotalInclTax>totalPriceGross</RowTotalInclTax>
            <TotalTaxCode>totalTaxCode</TotalTaxCode>
            <Price>unitPriceNet</Price>
            <UnitTaxAmount>unitTax</UnitTaxAmount>
            <PriceInclTax>unitPriceGross</PriceInclTax>
            <TaxCode>unitTaxCode</TaxCode>
        </order_item>
    </rtd_mappings>
</config>
